:root {
  --spine-pyramid: linear-gradient(
      315deg,
      transparent 75%,
      rgba(255, 255, 255, 0.1) 0
    ),
    linear-gradient(45deg, transparent 75%, rgba(255, 255, 255, 0.1) 0),
    linear-gradient(135deg, rgba(255, 255, 255, 0.2) 166px, transparent 0),
    linear-gradient(45deg, rgba(0, 0, 0, 0.1) 75%, transparent 0);
  background-size: 20px 20px;

  --spine-tablecloth: linear-gradient(
      90deg,
      rgba(200, 0, 0, 0.5) 50%,
      transparent 50%
    ),
    linear-gradient(rgba(200, 0, 0, 0.5) 50%, transparent 50%);
  background-size: 50px 50px;

  --spine-stairs: repeating-linear-gradient(
      63deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1) 1px,
      transparent 3px,
      transparent 0
    ),
    linear-gradient(
      127deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1) 90px,
      transparent 55%,
      transparent 0
    ),
    linear-gradient(transparent 51%, rgba(0, 0, 0, 0.1) 170px);
  background-size: 70px 120px;

  --spine-argyle: repeating-linear-gradient(
      120deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px,
      transparent 60px
    ),
    repeating-linear-gradient(
      60deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px,
      transparent 60px
    ),
    linear-gradient(
      60deg,
      rgba(0, 0, 0, 0.1) 25%,
      transparent 25%,
      transparent 75%,
      rgba(0, 0, 0, 0.1) 75%,
      rgba(0, 0, 0, 0.1)
    ),
    linear-gradient(
      120deg,
      rgba(0, 0, 0, 0.1) 25%,
      transparent 25%,
      transparent 75%,
      rgba(0, 0, 0, 0.1) 75%,
      rgba(0, 0, 0, 0.1)
    );
  background-size: 70px 120px;

  --spine-tartan: repeating-linear-gradient(
      transparent,
      transparent 50px,
      rgba(0, 0, 0, 0.4) 50px,
      rgba(0, 0, 0, 0.4) 53px,
      transparent 53px,
      transparent 63px,
      rgba(0, 0, 0, 0.4) 63px,
      rgba(0, 0, 0, 0.4) 66px,
      transparent 66px,
      transparent 116px,
      rgba(0, 0, 0, 0.5) 116px,
      rgba(0, 0, 0, 0.5) 166px,
      rgba(255, 255, 255, 0.2) 166px,
      rgba(255, 255, 255, 0.2) 169px,
      rgba(0, 0, 0, 0.5) 169px,
      rgba(0, 0, 0, 0.5) 179px,
      rgba(255, 255, 255, 0.2) 179px,
      rgba(255, 255, 255, 0.2) 182px,
      rgba(0, 0, 0, 0.5) 182px,
      rgba(0, 0, 0, 0.5) 232px,
      transparent 232px
    ),
    repeating-linear-gradient(
      270deg,
      transparent,
      transparent 50px,
      rgba(0, 0, 0, 0.4) 50px,
      rgba(0, 0, 0, 0.4) 53px,
      transparent 53px,
      transparent 63px,
      rgba(0, 0, 0, 0.4) 63px,
      rgba(0, 0, 0, 0.4) 66px,
      transparent 66px,
      transparent 116px,
      rgba(0, 0, 0, 0.5) 116px,
      rgba(0, 0, 0, 0.5) 166px,
      rgba(255, 255, 255, 0.2) 166px,
      rgba(255, 255, 255, 0.2) 169px,
      rgba(0, 0, 0, 0.5) 169px,
      rgba(0, 0, 0, 0.5) 179px,
      rgba(255, 255, 255, 0.2) 179px,
      rgba(255, 255, 255, 0.2) 182px,
      rgba(0, 0, 0, 0.5) 182px,
      rgba(0, 0, 0, 0.5) 232px,
      transparent 232px
    ),
    repeating-linear-gradient(
      125deg,
      transparent,
      transparent 2px,
      rgba(0, 0, 0, 0.2) 2px,
      rgba(0, 0, 0, 0.2) 3px,
      transparent 3px,
      transparent 5px,
      rgba(0, 0, 0, 0.2) 5px
    );
  background-size: 50px 50px;

  --spine-stripes: repeating-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1) 10px,
      transparent 10px,
      transparent 20px
    ),
    linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.2) 25%,
      transparent 25%,
      transparent 75%,
      rgba(0, 0, 0, 0.2) 75%
    );
  background-size: 40px 40px;

  --spine-chevron: repeating-linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1) 10px,
      transparent 10px,
      transparent 20px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1) 10px,
      transparent 10px,
      transparent 20px
    );
  background-size: 20px 20px;

  --spine-dots: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px
    ),
    radial-gradient(circle, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  background-size: 20px 20px;

  --spine-zigzag: repeating-linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1) 2px,
    transparent 2px,
    transparent 4px
  );
  background-size: 20px 20px;
}

.bookshelf {
  width: 100%;
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
}

.book {
  width: 50px;
  height: 280px;
  position: relative;
  margin-left: 1px;
  transform-style: preserve-3d;
  transform: translateZ(0) rotateY(0);
  transition: transform 1s;
}

.side {
  position: absolute;
  border: 2px solid black;
  border-radius: 3px;
  font-weight: bold;
  color: black;
  text-align: center;
  transform-origin: center left;
}

.spine {
  position: relative;
  width: 50px;
  height: 280px;
  /* Patterns from: https://projects.verou.me/css3patterns/ */
  background-image: var(--tartan);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  box-sizing: border-box;
  transform: rotateY(0deg) translateZ(0px);
}

.spine-title {
  margin: 2px;
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 18px;
  color: gold;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.spine-author {
  position: absolute;
  color: black;
  font-family: 1000;
  bottom: 0px;
  left: 0%; /* no idea why 20% centers it */
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 10px !important;
  margin-top: auto;
}

.top {
  width: 50px;
  height: 190px;
  top: -2px; /* hmm, why -2 and not 0? */
  background-image: linear-gradient(90deg, white 90%, gray 10%);
  background-size: 5px 5px;
  position: absolute;
  transform: rotateX(90deg) translateZ(95px) translateY(-95px);
}

.cover {
  width: 190px;
  height: 280px;
  top: 0px;
  background-size: contain;
  background-repeat: round;
  left: 50px;
  transform: rotateY(90deg) translateZ(0);
  transition: transform 1s;
}

.book:hover {
  z-index: 1;
  transform: rotateX(-25deg) rotateY(-40deg) rotateZ(-15deg) translateY(50px)
    translateX(-30px);
}

.review-modal {
  background-color: var(--container-bg-color);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 3px black solid;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-width: 90%; /* Ensures modal doesn't exceed viewport width */
  max-height: 80%; /* Ensures modal doesn't exceed viewport height */
  overflow-y: auto; /* Adds scroll for overflow content vertically */
  overflow-x: hidden; /* Prevents horizontal scrolling */
  font-family: "Lora", serif; /* Applying the font to the modal */
}

@media (max-width: 600px) {
  .review-modal {
    max-width: 1000px !important; /* Increases the width slightly */
    max-height: 85%; /* Increases the height slightly */
  }
}

.review-content {
  word-wrap: break-word; /* Ensures long words are wrapped to the next line */
}

.review-modal button {
  margin-top: 10px;
  padding: 5px 10px;
  background: #333;
  color: white;
  border: none;
  cursor: pointer;
}

.review-modal button:hover {
  background: #555;
}

.section-header-books {
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  position: relative;
  overflow: hidden;
  margin-top: 50px; /* Adjust this value as needed to avoid overlap */
}

.break {
  height: 50px;
}

.section-title-books {
  position: relative;
  font-family: "Roboto Mono", monospace; /* Monospaced font for coding feel */
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
  z-index: 1;
  display: flex;
  align-items: center;
}

.section-title-books::before,
.section-title-books::after {
  content: "";
  height: 2px;
  flex-grow: 1;
  background-color: var(--text-color);
  margin: 0 20px;
}

.section-title-books::before {
  margin-left: 0;
}

.section-title-books::after {
  margin-right: 0;
}

.section-title-books span {
  color: #61dafb;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  display: inline-block;
}

#books {
  max-width: fit-content;
  margin-inline: auto;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
}

.min-h-screen {
  min-height: 100vh;
}

.flex-col {
  flex-direction: column;
}

.max-w-2xl {
  max-width: 42rem;
}

.red-text {
  color: red;
}

.book-review-heading {
  font-family: "Merriweather Sans", sans-serif;
}
