.flex-row {
  flex-direction: row;
}

.items-start {
  align-items: flex-start;
}

.relative {
  position: relative;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.items-center {
  align-items: center;
}

.flex {
  display: flex;
}

.navbar-dark-text:hover {
  color: var(--text-hover) !important;
}

/* navbar.css */
.active-class {
  color: var(--active-color);
  font-weight: bold;
}
