@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Light mode styles */
.light {
  --bg-color: white;
  --text-color: black;
  --nav-bg-color: #f3f4f6; /* Tailwind gray-100 */
  --nav-text-color: #111827; /* Tailwind gray-900 */
  --container-bg-color: white;
  --text-desc: #737373;
  --h-color: black;
  --active-color: color: rgb(82 82 82);
}

/* Dark mode styles */
.dark {
  --bg-color: #1c1917;
  --text-color: white;
  --nav-bg-color: #1c1917;
  --nav-text-color: #d1d5db;
  --container-bg-color: #342f2d;
  --text-hover: #322f2e;
  --text-desc: #737373;
  --h-color: white;
  --active-color: color: rgb(120 113 108);
}

.proj-desc {
  color: var(--text-desc) !important;
}
.experience-container {
  background-color: var(--container-bg-color);
}

h1,
h2,
h3,
p {
  color: var(--h-color) !important;
}

strong,
li,
.mb-2,
.username,
.message,
.timestamp {
  color: var(--text-color) !important;
}

/* Apply the colors to the body */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

@media (max-width: 600px) {
  body {
    padding: 1rem;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.max-w-\[712px\] {
  max-width: 712px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .md\:py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.min-h-\[calc\(100vh-50px-100px\)\] {
  min-height: calc(100vh - 50px - 100px);
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.social-icons {
  border-radius: 5px;
  text-align: center;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease,
    box-shadow 0.3s ease;
  overflow: hidden;
}

.knAFTJ {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 40px;
  right: auto;
  z-index: 10;
  color: var(--light-slate);
}
.jKwTmL li a {
  padding-bottom: 0px;
}

.jKwTmL li a {
  width: 40px;
  height: 40px;
  padding: 8px;
}

.social-icons {
  margin-bottom: 20px;
}

.social-icons:hover::before {
  transform: translate(-50%, -50%) scale(0.7);
}

.social-icons:hover {
  background-color: yellow;
  transform: translateY(-3px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.social-icons:active {
  transform: translateY(1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.social-icons:hover {
  background-color: var(--blueColorColor);
}

#in:hover {
  background-color: #0077b5 !important;

  color: black !important;
}

#gh:hover {
  color: white !important;
  background-color: #333 !important;
}
#mail:hover {
  background-color: lightgrey !important;
}
#ld:hover {
  color: black;
  background-color: blue !important;
}

.SLAQp {
  width: 40px;
  position: fixed;
  left: auto;
  right: 40px;
  z-index: 10;
  bottom: 0;
  color: var(--light-slate);
}

@media (max-width: 1150px) {
  .SLAQp {
    display: none;
  }
  .knAFTJ {
    display: none;
  }
}

@media (max-width: 600px) {
  .SLAQp {
    display: none;
  }
  .knAFTJ {
    display: none;
  }
}

.hMFHbo {
  display: flex;
  flex-direction: column;
  -moz-box-align: center;
  align-items: center;
  position: relative;
}

.hMFHbo a:hover,
.hMFHbo a:focus {
  transform: translateY(-3px);
  color: pink !important;
}

.hMFHbo a {
  margin: 20px auto;
  padding: 10px;
  font-family: var(--font-mono);
  font-size: var(--fz-xxs);
  line-height: var(--fz-lg);
  letter-spacing: 0.1em;
  writing-mode: vertical-rl;
}
.hMFHbo::after,
.knAFTJ::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: var(--text-color);
}

/* styles/globals.css */

.hide-scroll-bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

br {
  height: 50px;
}

hr {
  box-sizing: border-box;
  line-height: 1.5;
}

.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
}

.highlight-line {
  position: absolute;
  right: -2px;
  width: 4px;
  background-color: var(--text-desc); /* Tailwind CSS blue-500 color */
  transition: top 0.3s ease;
}

.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #737373 radial-gradient(circle, transparent 1%, #737373 1%)
    center/15000%;
}
.ripple:active {
  background-color: #322f2e;
  background-size: 100%;
  transition: background 0s;
}

.cl-footer {
  display: none;
}
